.carousel-container {
    width: 100%;
    overflow: hidden;
    height: 400px;
    background-color: black;
}

@media (max-width: 1024px) {
    .carousel-container {
        height: 400px;
    }
}

@media (max-width: 464px) {
    .carousel-container {
        height: 300px;
    }
}