.row>* {
    margin-bottom: 10px;
    padding-left: 0;
    height: 330px;
}

.searchContainer {
    margin-top: 10px;
}

.pagination {
    justify-content: center;
    --bs-pagination-bg: black;
    --bs-pagination-disabled-color: red;
    --bs-pagination-disabled-bg: none
}

.pagination>li>a[aria-label="Jump forward"] {
    display: none;
}

.pagination li a {
    font-size: 1.3em;
    border: none;
    color: rgb(185, 2, 2);
    font-weight: 600;
}

.paginationArea {
    border: solid 1px black;
    /* margin: 10px; */
}

.pagination>li>a[aria-current="page"] {
    background-color: white;
    border-radius: 50%;
    color: black;
    font-weight: 600;
}

.page-link:focus,
.page-link:focus-visible,
.page-link:hover {
    color: black;
    background-color: rgb(206, 205, 205);
    border-radius: 50%;
}

/*정렬 드랍박스*/

.FilterDropBox {
    display: flex;
    justify-content: start;
}

.FilterDropBox>button {
    display: flex;
    align-items: center;
}

.FilterDropBox>button>div {
    display: flex;
    align-items: center;
}


.FilterDropBox>button,
.FilterDropBox>button+div {
    width: 70%;
    text-align: center;
    font-size: 1.5em;
}

.FilterDropBox>button>div {
    width: 100%;
}

.FilterDropBox>button+div {
    transform: translate3d(0, 2em, 0px);
    padding: 0;
    margin-top: 10px;
}

.FilterDropBox>.btn-primary {
    background-color: black;
    border: solid 3px rgb(185, 2, 2);
}

.FilterDropBox>.dropdown-menu {
    background-color: black;
    border: solid 3px rgb(185, 2, 2);
}

.FilterDropBox>.dropdown-menu * {
    color: white;
}

.FilterDropBox>.dropdown-menu *:first-child {
    border-bottom: solid 3px rgb(185, 2, 2);
}

.FilterDropBox>.btn-check:checked+.btn,
.FilterDropBox>.btn.active,
.FilterDropBox>.btn.show,
.FilterDropBox>.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: rgb(185, 2, 2);
    color: white;
    border-color: rgb(185, 2, 2);
}

.FilterDropBox>div>.dropdown-item.active,
.FilterDropBox>div>.dropdown-item:active,
.FilterDropBox>div>.dropdown-item:focus,
.FilterDropBox>div>.dropdown-item:hover {
    color: black;
}

.FilterDropBox>div>.dropdown-item.active,
.FilterDropBox>div>.dropdown-item:active {
    background-color: rgb(185, 2, 2);
}

@media (min-width:464px) and (max-width:1024px) {

    .FilterDropBox>button,
    .FilterDropBox>button+div {
        width: 95%;
    }

    .FilterDropBox>button>div {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
    }

    .FilterDropBox>button {
        padding: 5px 8px;
    }
}

@media (max-width:464px) {
    .row .MoviePagePopularMovies>* {
        height: 250px;
    }

    .row {
        margin-left: 0;
    }

    .FilterDropBox>button,
    .FilterDropBox>button+div {
        width: 100%;
        text-align: center;
        font-size: 1.1em;
    }
}