.body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;

    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0;
        /* Remove scrollbar space */
        background: transparent;
        /* Optional: just make scrollbar invisible */
    }

    /* Optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
        background: #FF0000;
    }

}

.bg-body-tertiary {
    background-color: black !important;
}

.d-flex input {
    --bs-secondary-color: black;
    background-color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: yellow;
}

.navbar-toggler {
    background-color: white;
}

.LogoImgArea {
    width: 100px;
    height: 50px;
}

.LogoImgArea img {
    width: 100%;
    height: 100%;
}